
Untitled.ipynb
*.csv
.ipynb_checkpoints/clip-index-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/youtube-demo-checkpoint.ipynb
clip-index.ipynb
data/.ipynb_checkpoints/citation-checkpoint.md
.ipynb_checkpoints/youtube-live-checkpoint.ipynb
images/cea_FaZellweger-90A-01-2/.ipynb_checkpoints/855813-checkpoint.jpg
images/cea_FaZellweger-90A-01-2/.ipynb_checkpoints/855817-checkpoint.jpg
