
Untitled.ipynb
*.csv
.ipynb_checkpoints/clip-index-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/youtube-demo-checkpoint.ipynb
clip-index.ipynb
data/.ipynb_checkpoints/citation-checkpoint.md
